* text=auto

.gitattributes text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf
runit text eol=lf

*.bin binary
*.gif binary
*.ico binary
*.iso binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.tar binary
*.zip binary
